---
interface Props {
  languages: string[];
}

const { languages } = Astro.props;
---

<div class="flex flex-wrap gap-2">
  {
    languages.map((l) => (
      <span class="border border-accent/50 bg-accent/10 px-2.5 py-1 font-mono text-[10px] text-accent">
        {l}
      </span>
    ))
  }
</div>
